<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Loan management system</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="img/favicon.jpg" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/63121c1437898912e966da3b/1gbvbrcpr';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">
      <div class="logo float-left">
        <a href="#intro" class="scrollto"><img src="/static/img/oneyes%20logo.png" alt="" class="img-fluid"></a>
      </div>
      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Admin</a></li>
          <li class="active"><a href="{{url_for('admin')}}">Admin</a></li>
          <li class="active"><a href="{{url_for('userlog')}}">User</a></li>
        </ul>
      </nav><!-- .main-nav -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">
      <div class="intro-img">
        <div class="container">
          <div class="section-header">
            <h3 style="color:white;width: 362px;">User Registration</h3>
          </div>
          <div class="col-lg-8">
            <div class="form">
              <div id="errormessage"></div>
              <form action="{{ url_for('user') }}" class="hero-form" method="post" onsubmit="showAlert()">
                <div class="form-row"></div>
                <div class="form-group">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" data-rule="email" data-msg="Please enter a valid name" required>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" data-rule="email" data-msg="Please enter a valid email" required>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character (@, $, !, %, *, ?, or &)" required>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" pattern="[0-9]{10}" name="mobile" id="mobile" placeholder="Enter contact number" required>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="address" rows="4" data-rule="required" data-msg="Please write something for us" placeholder="Enter Address" required></textarea>
                  <div class="validation"></div>
                </div>
                <div>
                  <center><button class="btn btn-primary py-2 px-4" type="submit">Registration</button> <a class="btn btn-primary py-2 px-4" href="{{ url_for('userlog') }}" type="submit">Login</a></center>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="intro-info">
        <h2>Loan<br><span>Management</span><br>System</h2>
      </div>
    </div>
  </section><!-- #intro -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/waypoints/waypoints.min.js"></script>
  <script src="/static/lib/counterup/counterup.min.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/static/contactform.js"></script>
  <script src="/static/js/main.js"></script>

  <script>
    function showAlert() {
      alert("Registration successful! Please check your email for further instructions.");
    }
  </script>

</body>

</html>
